
  $color-primary-light: #faf4ae;
  $color-primary-dark: #31261a;
  $color-brand-dark: #465929;
  $color-brand-light: #819b57;
  $color-brand-light2: #CFCFBC;
  $color-text-defolt: #faf4ea;
  $bg-burger: #faf4ea;
  $color-dots: #a18268;
  $color-form: #a18268;
  $color-dots-active: #73835a;
  $color-footer-bg: #31261A;

%poppins-900 {
  font-family: 'Poppins', sans-serif;
  font-weight: 900;
}

%poppins-600 {
  font-family: 'Poppins', sans-serif;
  font-weight: 600;
}

%poppins-400 {
  font-family: 'Poppins', sans-serif;
  font-weight: 400;
}

%poppins-300 {
  font-family: 'Poppins', sans-serif;
  font-weight: 300;
}

%rubik-400 {
  font-family: 'Rubik Broken Fax', sans-serif;
  font-weight: 300;
}

